@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --side-menu-color: #e0e0e0;
  --bgColor: #fff;
  --color: #000;
  --sideMenuPadding: 10px;
  --interactableBg: #0b4dda;
}
* {
  margin: 0;
  user-select: none;
  font-size: 30px;
  font-weight: 700;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--bgColor);
  color: var(--color);
  height: 100%;
  width: 100vw;
  display: flex;
}
#side-menu {
  height: calc(100vh - (var(--sideMenuPadding) * 2));
  width: 50px;
  padding: var(--sideMenuPadding);
  background-color: var(--side-menu-color);
  position: absolute;
  text-wrap: nowrap;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
#side-menu:hover {
  width: var(--sideMenuWidth);
}
#content {
  height: calc(100vh - 40px);
  width: calc(100vw - 70px);
  margin-left: 70px;

  padding: 20px;
}
.side-menu-element {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 45px;
  gap: var(--sideMenuPadding);
  overflow: hidden;
  color: #000;
}
button,
a {
  all: unset;
  cursor: pointer;
  text-wrap: nowrap;
}
input {
  all: unset;
}
img {
  height: 50px;
}
.line {
  border-top: #000 solid 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.line-vertical {
  border-left: #000 solid 5px;
  border-radius: 10px;
}
.hidden {
  display: none;
}
form {
  display: flex;
  gap: 20px;
}
#select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
  margin-bottom: 5px;
}
.form-btn {
  background-color: var(--interactableBg);
  color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  width: min-content;
}
label,
#create {
  cursor: pointer;
}
#UI {
  display: flex;
  justify-content: center;
  height: calc(100% - 75px - 40px);
}
#players,
#score {
  width: calc(50% - 5px);
}
.user-input {
  border: var(--interactableBg) solid 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 3px;
}
.user-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--interactableBg);
  border-radius: 5px;
  height: 47px;
  width: 47px;
}
.user-btn > img {
  height: 35px;
  width: 35px;
}
.user {
  display: flex;
  gap: 10px;
}
